.filter-container {
    display: flex;
    // width: 96%;
    background: #00000014;
    margin: 15px 0px;
    padding: 7px 0px;
    justify-content: center;
  .labeled-input {
    padding-right: 4px;
    width: 12%;
  }
  .multiple-select {
    margin: 1px 4px 1px 3px;
    width: max-content;
    max-width: 30%;
    min-width: 13%;
  }
  .ant-btn {
    margin-top: 17px;
  }
  .reset-filter, .reset-filter:focus, .reset-filter:active, .reset-filter:hover{
    background: #404040;
    border-color: #404040;
    margin-left: 4px;
  }
  .reset-filter:hover {
    background: #5f5b5b;
  }
  .tags {
    width: 13%;
    padding-right: 4px;
  }
}