.sidebar-logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 6px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  vertical-align: middle;
  letter-spacing: 2px;
}