.sidebar-logo {
  height: 32px;
  padding-top: 9px;
  background: #001529;
  margin: 6px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  vertical-align: middle;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}