.search-container {
  padding: 3% 3%;
  .ant-spin-spinning {
    justify-content: center;
    display: flex;
    margin: 10%;
    .ant-spin-dot-item {
      background-color: #16a3f5 !important;
    }
  }

  .ant-empty {
    margin: 5%;
  }
}