.question-container {
  .ant-skeleton {
    padding: 4% 4%;
  }
  .target-group {
    position: fixed;
    width: 76%;
    top: 7px;
    background: #001529e6;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    display: -webkit-flex;
    display: flex;
    border-radius: 0px;
    padding: 5px 1px;
    z-index: 999;
    margin: 0px 3%;
    line-height: 7px;
    // box-shadow: 0px 14px 16px 0px #c7c7c7a6;
    div {
      display: flex;
      flex-direction: row;
      padding-left: 5px;
    }
    .tg-label {
      color: #ffffff;
      font-size: 10px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 1px;
    }
    .tg-label::after {
      content: ':'
    }
    .tg-data {
      color: #ffffff;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 43px;
  }
  .add-button {
    position: fixed;
    display: flex;
    right: 4%;
    top: 16%;
  }
  .questions {
    margin: 0px 0px;
    .ant-skeleton{
      padding: 0% 3%;
    }
    .ant-collapse-header{
      padding: 5px 15px 3px 39px !important;
    }
    .ant-collapse-content-box {
      background-color: #f0f2f5;
      border-top: 0;
      border: 1px solid #00000012;
      border-bottom: 0;
    }
    
  }
}
.ant-skeleton {
  margin-top: 2%;
  .ant-skeleton-content {
    background: white;
    padding: 9px;
  }
}

.container {
  margin: 5% 0%;
  .ant-skeleton {
    margin: 5% 6%;
    width: 90%;
  }
  .question-form-container {
    padding: 2% 2%;
    border: 1px solid #928a8a;
    background-color: #ffffff;
    .similar {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
    
    .form {
      .divider {
        padding: 0px 0px;
        margin: 15px;
        color: #8c867fa6;
      }
      .ant-input-affix-wrapper .ant-input-suffix {
        right: 0px !important;
      }
      .remove-button {
        background: #d1d5d8;
        border: none;
      }
      .tags {
        header {
          display: flex;
          top: -11%;
          color: rgb(142, 139, 139);
          font-size: 14px;
          width: 192px;
          font-weight: 500;
          padding-bottom: 3px;
  
        }
      }
  
    }
    .action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5%;
      div {
        padding: 5px;
      }
    }
  }
  
}
.duplicate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 2%;
  background: white;
  margin: 1% 3%;
  border: 1px solid #e61f1fe3;
  box-shadow: 4px 7px 16px 0px #6760609c;
  .ant-divider-horizontal{
    margin: 8px 0;
  }
  button {
    width: 37%;
    margin-left: 33%;
    margin-top: 4%;
  }
  span {
    padding-bottom: 1%;
    font-weight: 600;
  }
  .q-container {
    display: flex;
    padding: 3% !important;
    .question {
      padding: 0% 3%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: initial;
    }
  }
  .q-container:hover {
    color: #1d8efa;
    cursor: pointer;
    text-decoration: underline;
  }
}
// Extras Container
.extras-container {
  display: flex;
  .status {
    padding: 1px 12px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .deactivated {
    color: red;
    font-style: italic;
  }
  .reject {
    color: #f50f00;
    font-style: italic;
  }
  .publish {
    color: green;
  }
  .new {
    color: blue;
  }
  .similar {
    padding-right: 25px;
  }
  .ant-tag{
    font-weight: 600;
    letter-spacing: 1px;
  }
  .edit {
    width: 30px;
    text-align: -webkit-center;
  }
}

.options-container {
  padding-top: 15px;
  span {
    font-size: 12px;
    color: #656060a6 !important;
  }
}

.edit-button {
  position: relative;
  display: grid;
  justify-content: end;
}
.details-container {
  .data-container {
    display: flex;
    flex-direction: column;
  }
  .transition{
    display: flex;
    justify-content: flex-end;
    button {
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 12px;
      margin-left: 5px;
      height: 25px;
    }
  }
  .ant-row{
    padding-bottom: 4px;
  }
  .label {
    font-size: 12px;
    color: #656060a6 !important;
  }
  .status {
    background: #ff0000b5;
    color: #fff;
    font-size: 13px;
    width: fit-content;
    font-weight: 900;
    padding: 1px 6px;
    border-radius: 6px;
  }
  .diff {
    padding-left: 13px;
  }
  .tags {
    padding-bottom: 3px;
    .ant-tag {
      margin-left: 1%;
    }
  }
}
.q-label {
  font-size: 12px;
  text-align: center
}
.q-data {
  color: #333435;
  text-align: center;
}
.question-body {
  margin: 0px 0px;
  padding: 8px 32px;
  border-radius: 14px;
  // border: 1px solid #eeeeee6b;
}

.question-details-model {
  .ant-modal-close-x {
    color: white;
  }
  .ant-modal-header {
    color: rgb(255, 255, 255);
    background: #2c7ebd;
    border-bottom: 1px solid #e8e8e8;
    .ant-modal-title {
      color: #fff;
      letter-spacing: 1px;
      font-weight: 900;
    }
  }
  .ant-modal-body{
    padding: 10px;
    min-height: 250px;
    .ant-collapse-item {
      border: 1px solid #eee;
    }
    .ant-collapse-content-box {
      background: #80888726;
    }
  }
  .ant-modal-footer {
    .ant-btn-primary {
      background: #2b7ebd;
      border-color: #2b7ebd;
    }
  }
  .ant-modal-footer:first-child {
    display: none;
  }
}
