.question-container {
  .ant-skeleton {
    margin-top: 2%;
    .ant-skeleton-content {
      background: white;
      padding: 9px;
    }
  }
  .target-group {
    position: fixed;
    width: 56%;
    top: 15px;
    background: #001529cf;
    justify-content: space-around;
    display: flex;
    border-radius: 12px;
    padding: 7px;
    z-index: 10000;
    margin: 0px 11%;
    box-shadow: 0px 14px 16px 0px #c7c7c7a6;
    div {
      display: flex;
      flex-direction: column;
    }
    .tg-label {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-align: center
    }
    .tg-data {
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .add-button {
    position: fixed;
    display: flex;
    right: 4%;
    top: 16%;
  }
  .questions {
    overflow-x: hidden;
    height: 435px;
    margin: 20px 0px;
    .title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2px;
      text-decoration: underline;
      padding: 2% 0%;
    }
    .ant-collapse-content-box {
      background-color: #f0f2f5;
      border-top: 0;
      border: 1px solid #00000012;
      border-bottom: 0;
    }
    .question-body {
      margin: 0px 0px;
      padding: 8px 32px;
      border-radius: 14px;
      border: 1px solid #eeeeee6b;
      // box-sha  dow: inset 2px 2px 7px 0px #847c7c2e;
      .options-container {
        span {
          font-size: 12px;
          color: #656060a6 !important;
        }
        div {
          
        }
      }
      .edit-button {
        position: relative;
        display: grid;
        justify-content: end;
      }
      .details-container {
        .data-container {
          display: flex;
          flex-direction: column;
        }
        .ant-row{
          padding-bottom: 4px;
        }
        .label {
          font-size: 12px;
          color: #656060a6 !important;
        }
        .status {
          background: #ff0000b5;
          color: #fff;
          font-size: 13px;
          width: fit-content;
          // font-weight: 900;
          padding: 1px 6px;
          border-radius: 6px;
        }
        .diff {
          padding-left: 13px;
        }
        .tags {
          padding-bottom: 3px;
        }
      }
      .q-label {
        font-size: 12px;
        text-align: center
      }
      .q-data {
        color: #333435;
        text-align: center;
      }
    }
  }
}


.question-form-container {
  margin: 2% 20%;
  padding: 2% 2%;
  border: 1px solid #928a8a;
  background-color: #ffffff;
  border-radius: 10px;
  .header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    // padding: 0% 1% 5%;
    text-decoration: underline;
  }
  .form {
    .divider {
      padding: 0px 0px;
      color: #8c867fa6;
    }
    .ant-input-affix-wrapper .ant-input-suffix {
      right: 0px !important;
    }
    .remove-button {
      background: #d1d5d8;
      border: none;
    }
    .tags {
      header {
        display: flex;
        top: -11%;
        color: rgb(142, 139, 139);
        font-size: 14px;
        width: 192px;
        font-weight: 500;
        padding-bottom: 3px;

      }
    }

  }
  .action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    div {
      padding: 5px;
    }
  }
}

